<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!--<script src="http://purpl3blue.herokuapp.com/socket.io/socket.io.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
var MONGOHQ_URL = "mongodb://valakuzhy:password123@oceanic.mongohq.com:10008/app23761232"

var UserTasks, mongoose, _;
 
mongoose = require("mongoose");
 
_ = require("underscore");
 
mongoose.connect(process.env.MONGOHQ_URL);

document.write(<%= user._id %>);

/UserTasks = mongoose.find(<%= user._id %>, )/


 
/SuperHero = mongoose.model('SuperHero', { name: "string" });
 
hero = new SuperHero({
  name: "Superman"
});
 
SuperHero.find({}, function(err, documents) {
  return console.log(documents[0]);
});/

</script>
</head>
</html>